@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon.eot?-uzpmdl");
    src: url("../fonts/icomoon.eot?#iefix-uzpmdl") format('embedded-opentype'), url("../fonts/icomoon.ttf?-uzpmdl") format('truetype'), url("../fonts/icomoon.woff?-uzpmdl") format('woff'), url("../fonts/icomoon.svg?-uzpmdl#icomoon") format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon {
    font-family: 'icomoon';
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    font-size: 14px;
    &.icon-big {
        font-size: 20px;
        line-height: 20px;
    }
    &.red {
        color: #ae4e3b !important;
    }
    &.green {
        color: #1b9451 !important;
    }
    &.gray {
        color: #bbb !important;
    }
    &.blue {
        color: #60c0dd !important;
    }
    &.yellow {
        color: #fad860 !important;
    }
}

.icon-arrow-down:before {
    content: "\e900";
}
.icon-arrow-up:before {
    content: "\e901";
}
.icon-avatar:before {
    content: "\e902";
}
.icon-btn-off:before {
    content: "\e903";
}
.icon-btn-on:before {
    content: "\e904";
}
.icon-building:before {
    content: "\e905";
}
.icon-charts:before {
    content: "\e906";
}
.icon-close-circle:before {
    content: "\e907";
}
.icon-close:before {
    content: "\e908";
}
.icon-data-decrease:before {
    content: "\e909";
}
.icon-data-increase:before {
    content: "\e90a";
}
.icon-down:before {
    content: "\e90b";
}
.icon-download:before {
    content: "\e90c";
}
.icon-edit:before {
    content: "\e90d";
}
.icon-exclamation-circle:before {
    content: "\e90e";
}
.icon-exit:before {
    content: "\e90f";
}
.icon-flow:before {
    content: "\e910";
}
.icon-frame:before {
    content: "\e911";
}
.icon-gear-circle:before {
    content: "\e912";
}
.icon-gear:before {
    content: "\e913";
}
.icon-gears:before {
    content: "\e914";
}
.icon-globe:before {
    content: "\e915";
}
.icon-info:before {
    content: "\e916";
}
.icon-left:before {
    content: "\e917";
}
.icon-logo-ads:before {
    content: "\e918";
}
.icon-logo-analytics:before {
    content: "\e919";
}
.icon-logo-dmp:before {
    content: "\e91a";
}
.icon-logo-mobile:before {
    content: "\e91b";
}
.icon-logo-shop:before {
    content: "\e91c";
}
.icon-logo-survey:before {
    content: "\e91d";
}
.icon-logo-video:before {
    content: "\e91e";
}
.icon-magic:before {
    content: "\e91f";
}
.icon-ok-circle:before {
    content: "\e920";
}
.icon-order-form:before {
    content: "\e921";
}
.icon-play:before {
    content: "\e922";
}
.icon-profile:before {
    content: "\e923";
}
.icon-question-circle:before {
    content: "\e924";
}
.icon-question:before {
    content: "\e925";
}
.icon-refresh:before {
    content: "\e926";
}
.icon-right:before {
    content: "\e927";
}
.icon-shapes:before {
    content: "\e928";
}
.icon-share:before {
    content: "\e929";
}
.icon-squares:before {
    content: "\e92a";
}
.icon-stop:before {
    content: "\e92b";
}
.icon-th:before {
    content: "\e92c";
}
.icon-trash:before {
    content: "\e92d";
}
.icon-tree-close:before {
    content: "\e92e";
}
.icon-tree-open:before {
    content: "\e92f";
}
.icon-twinkle-star:before {
    content: "\e930";
}
.icon-up:before {
    content: "\e931";
}
.icon-upload:before {
    content: "\e932";
}



/***
Font Awesome Icons
***/
[class^="fa-"],
[class*=" fa-"] {
    display: inline-block;
    margin-top: 1px;
    font-size: 14px;
    *margin-right: 0.3em;
    line-height: 14px;
}

/***
Make font awesome icons fixed width(latest version issue)
***/
li [class^="fa-"],
li [class*=" fa-"] {
    display: inline-block;
    width: 1.25em;
    text-align: center;
}
li [class^="fa-"].icon-large,
li [class*=" fa-"].icon-large {
    /* increased font size for icon-large */
    width: 1.5625em;
}
.fa-item {
    line-height: 40px;
    font-size: 16px;
}
.fa {
    &.fa-red,
    &.red {
        color: #ae4e3b !important;
    }
    &.fa-green,
    &.green {
        color: #1b9451 !important;
    }
    &.fa-gray,
    &.gray {
        color: #bbb !important;
    }
    &.fa-blue,
    &.blue {
        color: #60c0dd !important;
    }
    &.fa-yellow,
    &.yellow {
        color: #fad860 !important;
    }
    &.fa-big,
    &.big {
        font-size: 20px !important;
        line-height: 20px !important;
    }
}
