<div class="row">
    <div class="col-md-12">
        <div class="markdown">
            <h3>HTML代码</h3>
            <pre><code class="html">&lt;div class=&quot;form-group&quot;&gt;
    &lt;label for=&quot;exampleInputEmail1&quot;&gt;Product List&lt;/label&gt;
    &lt;input id=&quot;autoComplete&quot; type=&quot;text&quot; class=&quot;form-control w400&quot; placeholder=&quot;请输入产品名&quot;&gt;
&lt;/div&gt;
&lt;div id=&quot;panel&quot; class=&quot;sizer-result-wrap auto-complete w400&quot;&gt;
    &lt;div class=&quot;sizer-result-title&quot;&gt;已选的产品&lt;/div&gt;
    &lt;div class=&quot;sizer-result-content-wrap&quot;&gt;
        &lt;div class=&quot;sizer-result-content&quot;&gt;未选择任何产品&lt;/div&gt;
&lt;/div&gt;</code></pre>
            <h3>javascript代码</h3>
            <pre><code class="javascript">require('../../widgets/autocomplete/module');
var datas = [
    {
        name: 'HYPER Advertiser',
        value: 1
    }, {
        name: 'HYPER Web Analytics',
        value: 2
    }, {
        name: 'HYPER Mobile Analytics',
        value: 3
    }, {
        name: 'HYPER Video Analytics',
        value: 4
    }, {
        name: 'HYPER DMP',
        value: 5
    }, {
        name: 'HYPER Ad Serving',
        value: 6
    }, {
        name: 'HYPER Data Discovery',
        value: 7
    }
];

var autoComplete = $p.autoComplete($('#autoComplete'), {
    multiple: true,
    autoShowPanel: true,
    clearInput: true,
    datas: datas,
    chooseCallback: function (data) {
        var allData = autoComplete.getData();
        var chooseDta = autoComplete.getChooseData();
        var doms = allData.filter(function (data) {
            return chooseDta.indexOf(data.value) >= 0;
        }).map(function (data) {
            return '<span>' + data.name + '</span>';
        });
        doms = doms.length > 0 ? doms.join('') : '未选择任何产品';
        $('.sizer-result-content').empty().append(doms);
    }
});

</code></pre>
        </div>
    </div>
</div>
