{{#>layouts/base title=data.page.breadcrumb appId="breadcrumb"}}

    {{#*inline "pageContent"}}
        <div class="row">
            <div class="col-md-12">
                <h3 class="page-title">
                    {{data.page.breadcrumb}}
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ol class="p-breadcrumb">
                    <li><a href="javascript:;">Pagurian</a></li>
                    <li><a href="javascript:;">基础UI</a></li>
                    <li class="active">面包屑导航</li>
                </ol>
                <div class="markdown inner">
<pre><code class="html">&lt;ol class="p-breadcrumb"&gt;
    &lt;li&gt;&lt;a href="javascript:;"&gt;Pagurian&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="javascript:;"&gt;基础UI&lt;/a&gt;&lt;/li&gt;
    &lt;li class="active"&gt;面包屑导航&lt;/li&gt;
&lt;/ol&gt;</code></pre>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ol class="p-breadcrumb">
                    <li><a href="javascript:;">Pagurian</a></li>
                    <li><a href="javascript:;">基础UI</a></li>
                    <li><a href="javascript:;">面包屑导航</a></li>
                    <li class="highlight">突出显示的面包屑</li>
                </ol>
                <div class="markdown inner">
<pre><code class="html">&lt;ol class="p-breadcrumb"&gt;
    &lt;li&gt;&lt;a href="javascript:;"&gt;Pagurian&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="javascript:;"&gt;基础UI&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="javascript:;"&gt;面包屑导航&lt;/a&gt;&lt;/li&gt;
    &lt;li class="highlight"&gt;突出显示的面包屑&lt;/li&gt;
&lt;/ol&gt;</code></pre>
                </div>
            </div>
        </div>
    {{/inline}}

    {{#*inline "appScript"}}
        <script type="text/javascript">
            pagurian.call("modules/breadcrumb/app", function (app) {
                app.page.index();
            });
        </script>
    {{/inline}}

{{/layouts/base}}
