{{>fixtures/doctype}}
<head>
    <title>{{data.page.form}}</title>
    {{>fixtures/head}}
</head>
<body>

{{>fixtures/header}}

<!-- BEGIN CONTAINER -->
<div class="page-container">

    {{>fixtures/sidebar}}

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">

        <div class="page-content">


            {{>fixtures/theme-panel}}

            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-title">
                    {{data.page.form}}
                    </h3>
                </div>
            </div>

            <div class="tabs-wrap">
               <ul  class="nav nav-tabs">
                    <li>
                        <a href="com-form.html" >布局 </a>
                    </li>
                    <li  >
                        <a href="com-form-validation.html" >验证</a>
                    </li>
                    <li class="active">
                        <a href="com-form-other.html" >其他</a>
                    </li>

                </ul>
            </div>

            <div class="row">

                <div class="col-md-12 ">

                    <div class="portlet box default ">
                       <div class="portlet-title">
                            <div class="caption">
                                 初始化表单
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <form action="#" id="form_sample_1" class="form-horizontal">
                                <div class="form-body">

                                    <div class="form-group">
                                        <label class="control-label col-md-3">Text

                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" name="text" data-required="1" class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Textarea

                                        </label>
                                        <div class="col-md-4">
                                            <textarea name="textarea" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Select</label>
                                        <div class="col-md-4">
                                            <select name="select" class="form-control">
                                                <option value="">select...</option>
                                                <option value="1">一</option>
                                                <option value="2">二</option>
                                                <option value="3">三</option>
                                                <option value="4">四</option>
                                                <option value="6">五</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Radio</label>
                                        <div class="col-md-4 radio-list">
                                            <label><input type="radio" name="radio" value="1" > Option 1
                                            </label>

                                            <label><input type="radio" name="radio"  value="2"> Option 2
                                            </label>

                                            <label><input type="radio" name="radio"  value="3"> Option 3
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">Checkboxes</label>
                                        <div class="col-md-4 checkbox-list">
                                            <label>
                                            <input type="checkbox" name="checkbox" value="1"> Checkbox 1 </label>
                                            <label>
                                            <input type="checkbox" name="checkbox" value="2"> Checkbox 2 </label>
                                            <label>
                                            <input type="checkbox" name="checkbox" value="3"> Checkbox 3 </label>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>


                </div>
            </div>

            <div class="row">

                <div class="col-md-12">

                    <div class="markdown">
                        <h3>Javascript代码</h3>
                        <pre><code class="javascript">
var my_form = $p.com.form("#form_sample_1");

my_form.val({
    text: "This is text",
    textarea: "This is Textarea",
    select: 2,
    radio: 2,
    checkbox: 2
});
                        </code></pre>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->


{{>fixtures/footer}}
<script type="text/javascript">
    pagurian.call("modules/form/app", function(app) {
        app.page.other();
    });
</script>

</body>
</html>
