{{#>base title=data.page.form}}

    {{#*inline "pageContent"}}

        <div class="row">
            <div class="col-md-12">
                <h3 class="page-title">
                    {{data.page.form}}
                </h3>
                <div class="tabs-wrap">
                    <ul class="nav nav-tabs">
                        <li>
                            <a href="com-form.html" >样式</a>
                        </li>
                        <li>
                            <a href="com-form-validation.html" >验证</a>
                        </li>
                        <li >
                            <a href="com-form-val.html" >赋值</a>
                        </li>
                        <li class="active" >
                            <a href="com-form-fileupload.html" >文件上传</a>
                        </li>
                        <li>
                            <a href="com-form-submit.html">提交</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12">

                <div class="portlet box default ">
                    <div class="portlet-title">
                        <div class="caption">
                            文件上传
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <form action="#" id="form_sample_1" >
                            <div class="form-body">

                                <div class="form-group">

                                    <input type="file" name="file" id="file" multiple="true" />
                                </div>

                            </div>


                        </form>
                    </div>
                </div>

                <div class="markdown">
                    <h3>Javascript代码</h3>
<pre><code class="javascript">$p.upload("#file", {
    formData: {
        "token": "abc"
    },
    uploader: '/src/plugins/uploadify/3.2.1/uploadify.php',
    onUploadSuccess: function(file, data, response) {
        console.log(file, data, response);
    }
});</code></pre>
                </div>
            </div>

        </div>
    {{/inline}}

    {{#*inline "appScript"}}
        <script type="text/javascript">
    pagurian.call("modules/form/app", function(app) {
        app.page.fileUpload();
    });
</script>
    {{/inline}}

{{/base}}
