{{#>layouts/base title=data.page.datatree appId="datatree"}}

    {{#*inline "pageContent"}}
        <style media="screen">
            .table-custom td div {
                font-size: 12px;
                color: #aaa;
            }
        </style>

        <div class="row">
            <div class="col-md-12">
                <h3 class="page-title">
                    {{data.page.datatree}}
                </h3>

                <div class="tabs-wrap">
                    <ul class="nav nav-tabs">
                        <li>
                            <a href="datatree.html">基础</a>
                        </li>
                        <li  class="active">
                            <a href="datatree-advanced.html">高级</a>
                        </li>

                    </ul>
                </div>

            </div>
        </div>

        <!-- BEGIN PAGE CONTENT-->
        <div class="row">


            <div class="col-md-12">

                <div class="tree-wrap">
                    <div class="input-icon">
                        <i class="fa fa-search"></i>
                        <input type="text" name="name" id="input_search" placeholder="搜索" class="form-control" >
                    </div>
                    <div id="tree"></div>
                </div>

                <div class="markdown">
{{>codes/datatree-advanced}}
                </div>
            </div>


        </div>

        <div class="row">
            <div class="col-md-12">

                <h3>更多实例</h3>
                <p>
                    <a href="http://jstree.com/" target="_blank">
                        http://jstree.com/
                    </a>
                </p>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
        {{/inline}}

        {{#*inline "appScript"}}
            <script type="text/javascript">
                pagurian.call("modules/datatree/app", function(app) {
                    app.page.advanced();
                });
            </script>
            {{/inline}}

            {{/layouts/base}}
