{{>fixtures/doctype}}

<head>
    <title>{{data.page.slider}}</title>
    {{>fixtures/head}}
    <style media="screen">
        .table-custom td div {
            font-size: 12px;
            color: #aaa;
        }
    </style>
</head>

<body>

    {{>fixtures/header}}

    <!-- BEGIN CONTAINER -->
    <div class="page-container">

        {{>fixtures/sidebar}}

        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">

            <div class="page-content">

                {{>fixtures/theme-panel}}

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="page-title">
                            {{data.page.slider}}
                        </h3>
                    </div>
                </div>

                <div class="tabs-wrap">
                    <ul class="nav nav-tabs">
                        <li>
                            <a href="datatable.html">基础 </a>
                        </li>
                        <li>
                            <a href="datatable-extend.html">细分</a>
                        </li>
                        <li>
                            <a href="datatable-summary.html">汇总</a>
                        </li>
                        <li class="active">
                            <a href="datatable-options.html">参数说明</a>
                        </li>
                    </ul>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="markdown">
                            <pre><code class="html">$p.plugin.dataTable(Seletor, Options);</code></pre>
                        </div>
                        <ul>
                            <li>Seletor: 选择器,推荐使用ID选择器</li>
                            <li>Options: 配置，参考以下列表</li>
                        </ul>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h3>Options</h3>
                        <hr>
                        <table class="table-custom table table-hover table-fixed dataTable table-scrollable">
                            <thead>
                                <tr>
                                    <th width="200">参数</th>
                                    <th>默认值</th>
                                    <th width="100">数据类型</th>
                                    <th>描述</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="options__step">
                                    <td>fnDataSource</td>
                                    <td>--</td>
                                    <td>function</td>
                                    <td>一个方法，定义dataTable显示的数据源</td>
                                </tr>
                                <tr>
                                    <td>sClass</td>
                                    <td>--</td>
                                    <td>string</td>
                                    <td>自定义dataTable样式，class名称</td>
                                </tr>
                                <tr>
                                    <td>aaSorting</td>
                                    <td>--</td>
                                    <td>Array</td>
                                    <td>设置默认排序字段</td>
                                </tr>
                                <tr>
                                    <td>fnParams</td>
                                    <td>--</td>
                                    <td>function</td>
                                    <td>设置自定义请求参数</td>
                                </tr>
                                <tr>
                                    <td>aoColumns</td>
                                    <td>--</td>
                                    <td>Array</td>
                                    <td>设置列信息</td>
                                </tr>
                                <tr>
                                    <td>bAutoload</td>
                                    <td>true</td>
                                    <td>boolean</td>
                                    <td>设置自动加载数据</td>
                                </tr>

                                <tr>
                                    <td>bInfo</td>
                                    <td>true</td>
                                    <td>boolean</td>
                                    <td>设置显示总数信息</td>
                                </tr>
                                <tr>
                                    <td>bPaginate</td>
                                    <td>true</td>
                                    <td>boolean</td>
                                    <td>设置显示分页信息</td>
                                </tr>
                                <tr>
                                    <td>bSort</td>
                                    <td>true</td>
                                    <td>boolean</td>
                                    <td>设置可以排序</td>
                                </tr>
                                <tr>
                                    <td>bOrderNumbers</td>
                                    <td>false</td>
                                    <td>boolean</td>
                                    <td>设置显示序号</td>
                                </tr>
                                <tr>
                                    <td>sDom</td>
                                    <td>&lt;&quot;top&quot;&gt;&lt;&quot;table-scrollable&quot;rt&gt;&lt;&quot;bottom&quot;pli&gt;&lt;&quot;clear&quot;&gt;</td>
                                    <td>string</td>
                                    <td>设置dataTable布局</td>
                                </tr>
                                <tr>
                                    <td>aLengthMenu</td>
                                    <td>
                                        [ [30, 50, 100], [30, 50, 100] ]
                                    </td>
                                    <td>Array</td>
                                    <td>设置页面显示行数</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h3>Options.aoColumns</h3>
                        <hr>
                        <table class="table-custom table table-hover table-fixed dataTable table-scrollable">
                            <thead>
                                <tr>
                                    <th width="200">参数</th>
                                    <th>默认值</th>
                                    <th width="100">数据类型</th>
                                    <th>描述</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>bSortable</td>
                                    <td>true</td>
                                    <td>boolean</td>
                                    <td>设置该字段可排序</td>
                                </tr>
                                <tr>
                                    <td>mData</td>
                                    <td>--</td>
                                    <td>string</td>
                                    <td>设置该字段也数据对象绑定的列名</td>
                                </tr>
                                <tr>
                                    <td>sClass</td>
                                    <td>--</td>
                                    <td>string</td>
                                    <td>设置该列的样式，class名称</td>
                                </tr>

                                <tr>
                                    <td>bShowSummary</td>
                                    <td>false</td>
                                    <td>boolean</td>
                                    <td>设置该列显示汇总数据</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <!-- END PAGE CONTENT-->
            </div>
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->


    {{>fixtures/footer}}
    <script type="text/javascript">
        pagurian.call("modules/slider/app", function(app) {
            app.page.index();
        });
    </script>

    {{>fixtures/tracker}}

</body>

</html>
