{{>fixtures/doctype}}
<head>
	<title> {{data.page.datepicker}}</title>
	{{>fixtures/head}}
</head>
<body>

{{>fixtures/header}}


<!-- BEGIN CONTAINER -->
<div class="page-container">


   {{>fixtures/sidebar}}

	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">

		<div class="page-content">

			{{>fixtures/theme-panel}}
			<div class="row">
				<div class="col-md-12">
					<h3 class="page-title">
					{{data.page.datepicker}}
					</h3>
				</div>
			</div>

			 <div class="tabs-wrap">
			   <ul  class="nav nav-tabs">
					<li class="active">
						<a href="datepicker.html" >Date</a>
					</li>
					<li >
						<a href="daterangepicker.html" >Date Range</a>
					</li>

				</ul>
			</div>

			<div class="row">
				<div class="col-md-12">

					<!-- BEGIN PORTLET-->
					<div class="portlet box default">
						<div class="portlet-body form">
							<form action="#" class="form-horizontal form-bordered">
								<div class="form-body">
									<div class="form-group">
										<label class="control-label col-md-3">默认</label>
										<div class="col-md-3">
											<input class="form-control form-control-inline input-medium date-picker" size="16" type="text" value=""/>

										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3">禁止选择当天以前的时间</label>
										<div class="col-md-3">
											<div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy" data-date-start-date="+0d">
												<input type="text" class="form-control" readonly>
												<span class="input-group-btn">
													<button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
												</span>
											</div>

										</div>
									</div>


									<div class="form-group">
										<label class="control-label col-md-3">日期范围</label>
										<div class="col-md-4">
											<div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
												<input type="text" class="form-control" name="from">
												<span class="input-group-addon">
													to
												</span>
												<input type="text" class="form-control" name="to">
											</div>

										</div>
									</div>

								</div>
							</form>

						</div>
					</div>
					<!-- END PORTLET-->

				</div>
			</div>


			<div class="row">
				<div class="col-md-12">


					<div class="markdown">




					<h3>HTML代码</h3>
						<pre><code class="html">
&lt;div class=&quot;form-group&quot;&gt;
    &lt;label class=&quot;control-label col-md-3&quot;&gt;默认&lt;/label&gt;
    &lt;div class=&quot;col-md-3&quot;&gt;
        &lt;input class=&quot;form-control form-control-inline input-medium date-picker&quot; size=&quot;16&quot; type=&quot;text&quot; value=&quot;&quot;/&gt;

    &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;form-group&quot;&gt;
    &lt;label class=&quot;control-label col-md-3&quot;&gt;禁止选择当天以前的时间&lt;/label&gt;
    &lt;div class=&quot;col-md-3&quot;&gt;
        &lt;div class=&quot;input-group input-medium date date-picker&quot; data-date-format=&quot;dd-mm-yyyy&quot; data-date-start-date=&quot;+0d&quot;&gt;
            &lt;input type=&quot;text&quot; class=&quot;form-control&quot; readonly&gt;
            &lt;span class=&quot;input-group-btn&quot;&gt;
                &lt;button class=&quot;btn default&quot; type=&quot;button&quot;&gt;&lt;i class=&quot;fa fa-calendar&quot;&gt;&lt;/i&gt;&lt;/button&gt;
            &lt;/span&gt;
        &lt;/div&gt;

    &lt;/div&gt;
&lt;/div&gt;


&lt;div class=&quot;form-group&quot;&gt;
    &lt;label class=&quot;control-label col-md-3&quot;&gt;日期范围&lt;/label&gt;
    &lt;div class=&quot;col-md-4&quot;&gt;
        &lt;div class=&quot;input-group input-large date-picker input-daterange&quot; data-date=&quot;10/11/2012&quot; data-date-format=&quot;mm/dd/yyyy&quot;&gt;
            &lt;input type=&quot;text&quot; class=&quot;form-control&quot; name=&quot;from&quot;&gt;
            &lt;span class=&quot;input-group-addon&quot;&gt;
                to
            &lt;/span&gt;
            &lt;input type=&quot;text&quot; class=&quot;form-control&quot; name=&quot;to&quot;&gt;
        &lt;/div&gt;

    &lt;/div&gt;
&lt;/div&gt;</code></pre>
						<h3>Javascript代码</h3>
						<pre><code class="javascript">
$p.plugin.datePicker('.date-picker', {
	defaultDate: moment(),
}, function(date) {
	$p.com.alert(date);
});

					</code></pre>


						<h3>更多实例</h3>
						<a href="http://bootstrap-datepicker.readthedocs.org/en/latest/index.html" target="_blank">http://bootstrap-datepicker.readthedocs.org/en/latest/index.html</a>
					</div>



				</div>
			</div>


		</div>
	</div>
	<!-- END CONTENT -->
</div>
<!-- END CONTAINER -->

{{>fixtures/footer}}
<script type="text/javascript">
	pagurian.call("modules/datepicker/app", function(app) {
		app.page.date();
	});
</script>

{{>fixtures/tracker}}
</body>
</html>
