{{#>layouts/base title=data.page.echarts_line appId="echarts_line"}}

    {{#*inline "pageContent"}}


        <div class="row">
            <div class="col-md-12">
                <h3 class="page-title">
                    {{data.page.echarts_line}}
                </h3>

                <div class="tabs-wrap">
                    <ul  class="nav nav-tabs">
                        <li>
                            <a href="echarts-line.html" >标准折线图 </a>
                        </li>
                        <li class="active">
                            <a href="echarts-line-stack.html" >堆积折线图</a>
                        </li>
                        <li >
                            <a href="echarts-line-stack-area.html" >堆积面积图</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>





        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
            <div class="col-md-12">

                <div class="portlet box default">

                    <div class="portlet-body">
                        <div  class="chart-default " >
                            <div class="chart-body" id="my_chart"></div>
                        </div>

                    </div>

                </div>

            </div>

        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="markdown">
                    <h3>Javascript</h3>
<pre><code class="javascript">require('../../plugins/echarts/module');
chart = $p.echarts("my_chart", {
    type: "line",
    title: {
        text: '来源分析',
        subtext: '最近一周数据'
    }
});


chart.load({
    columns: ['2014-07-05', '2014-07-06', '2014-07-07', '2014-07-08', '2014-07-09', '2014-07-10', '2014-07-11'],
    rows: [{
        name: "搜索引擎",
        data: [120, 132, 101, 134, 90, 230, 210],
        stack: "总浏览量"
    }, {
        name: "外部链接",
        data: [220, 182, 191, 234, 290, 330, 310],
        stack: "总浏览量"
    }, {
        name: "直接访问",
        data: [150, 232, 201, 154, 190, 330, 410],
        stack: "总浏览量"
    }, {
        name: "站内链接",
        data: [320, 332, 301, 334, 390, 330, 320],
        stack: "总浏览量"
    }]
});</code></pre>

                    {{>fixtures/echarts-footer}}

                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    {{/inline}}

    {{#*inline "appScript"}}
        <script type="text/javascript">

            pagurian.call([
                "modules/echarts-line/app",
                "plugins/echarts/loader"
            ], function(app) {
                app.page.stack();
            });

        </script>
    {{/inline}}

{{/layouts/base}}
