{{#>layouts/base title=data.page.echarts_sankey appId="echarts_sankey"}}

    {{#*inline "pageContent"}}

        <div class="row">
            <div class="col-md-12">
                <h3 class="page-title">
                    {{data.page.echarts_sankey}}
                </h3>
                <div class="tabs-wrap">
                    <ul class="nav nav-tabs">

                        <li class="active">
                            <a href="echarts-sankey.html">桑基图</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
            <div class="col-md-12">

                <div class="portlet box default">

                    <div class="portlet-body">
                        <div class="chart-default ">
                            <div class="chart-body" id="my_chart"></div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="markdown">
                    <h3>Javascript</h3>
                    <pre><code class="javascript">chart = $p.echarts("my_chart", {
    type: "sankey",
    title: {
        text: '来源分析'
    }
});

chart.load({
    links: [
        {"source": "首页", "target": "签到领金币", "value": 83034},
        {"source": "首页", "target": "进入iBuick", "value": 8098},
        {"source": "首页", "target": "油费随手记", "value": 6868},
        {"source": "首页", "target": "违章查询", "value": 4336},
        {"source": "签到领金币", "target": "幸运大抽奖", "value": 61785},
        {"source": "签到领金币", "target": "进入个人中心", "value": 1797}
    ]
}, function (options) {
    return options;
});</code></pre>

                    {{>fixtures/echarts-footer}}

                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    {{/inline}}

    {{#*inline "appScript"}}
        <script type="text/javascript">
            pagurian.call([
                "modules/echarts-sankey/app",
                "plugins/echarts/loader"
            ], function (app) {
                app.page.sankey();
            });

        </script>
    {{/inline}}

{{/layouts/base}}
