{{#>layouts/base title=data.page.echarts_pie  appId="echarts_pie"}}

    {{#*inline "pageContent"}}
        <div class="row">
            <div class="col-md-12">
                <h3 class="page-title">
                    {{data.page.echarts_pie}}
                </h3>

                <div class="tabs-wrap">
                    <ul  class="nav nav-tabs">

                        <li  class="active">
                            <a href="echarts-pie.html" >标准饼图</a>
                        </li>
                        <li>
                            <a href="echarts-pie-loop.html" >环形图</a>
                        </li>

                    </ul>
                </div>

            </div>
        </div>

        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
            <div class="col-md-12">

                <div class="portlet box default">

                    <div class="portlet-body">
                        <div  class="chart-default " >
                            <div class="chart-body" id="my_chart"></div>
                        </div>

                    </div>

                </div>

            </div>

        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="markdown">
                    <h3>Javascript</h3>
<pre><code class="javascript">require('../../plugins/echarts/module');

var chart = $p.echarts("my_chart", {
    type: "pie"
});

chart.load({
    name: '访问来源',
    data: [{
        value: 735,
        name: '百度'
    }, {
        value: 310,
        name: '谷歌'
    }, {
        value: 234,
        name: '360搜索'
    }, {
        value: 135,
        name: '搜狗'
    }, {
        value: 548,
        name: '必应'
    }, {
        value: 148,
        name: '雅虎'
    }, {
        value: 114,
        name: '网易有道'
    }],
});</code></pre>

                    {{>fixtures/echarts-footer}}

                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    {{/inline}}

    {{#*inline "appScript"}}
        <script type="text/javascript">

            pagurian.call([
                "modules/echarts-pie/app",
                "plugins/echarts/loader"
            ], function(app) {
                app.page.pie();
            });

        </script>
    {{/inline}}

{{/layouts/base}}
