{{>fixtures/doctype}}
<head>
<title>{{data.page.echarts}}</title>
{{>fixtures/head}}
</head>
<body>

{{>fixtures/header}}

<!-- BEGIN CONTAINER -->
<div class="page-container">
	
   {{>fixtures/sidebar}}

	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		
		<div class="page-content">
			
			{{>fixtures/theme-panel}}
		
			
			<div class="row">
				<div class="col-md-12">
					<h3 class="page-title">
					{{data.page.echarts}}
					</h3>
				</div>
			</div>
            

            <div class="tabs-wrap">
               <ul  class="nav nav-tabs">
                    <li>
                        <a href="echarts-line.html" >曲线图 </a>
                    </li>
                    <li>
                        <a href="echarts-stack.html" >堆积图</a>
                    </li>
                    <li>
                        <a href="echarts-pie.html" >饼图</a>
                    </li>
                    <li  class="active">
                        <a href="echarts-bar.html" >柱状图</a>
                    </li>
                    <li >
                        <a href="echarts-map.html" >地图</a>
                    </li>
                </ul>
            </div>
            

			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				<div class="col-md-12">
					
					<div class="portlet box default">
						
						<div class="portlet-body">
							<div  class="chart-default " >
								<div class="chart-body" id="my_chart"></div>
							</div>	
						
						</div>
					
					</div>

				</div>
				
			</div>


            <div class="row">
                <div class="markdown">
                    <h3>Javascript</h3>
                    <pre><code class="javascript">                
var chart = require('../../plugins/echarts/module');

var myChart = chart.init("my_chart");
var option = myChart.bar({
    data: [{
        value: 735,
        name: '百度'
    }, {
        value: 310,
        name: '谷歌'
    }, {
        value: 234,
        name: '360搜索'
    }, {
        value: 135,
        name: '搜狗'
    }, {
        value: 548,
        name: '必应'
    }, {
        value: 148,
        name: '雅虎'
    }, {
        value: 114,
        name: '网易有道'
    }]
});
myChart.load(option);

                </code></pre>
                </div>
            </div>
			<!-- END PAGE CONTENT-->
		</div>
	</div>
	<!-- END CONTENT -->
</div>
<!-- END CONTAINER -->

{{>fixtures/footer}}


<script type="text/javascript">
	
    pagurian.call("modules/plugin/app", function(app) {
		app.page.echarts_bar();
	});

</script>

</body>
</html>