{{>fixtures/doctype}}
<head>
<title>{{data.page.echarts}}</title>
{{>fixtures/head}}
</head>
<body>

{{>fixtures/header}}

<!-- BEGIN CONTAINER -->
<div class="page-container">
	
   {{>fixtures/sidebar}}

	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		
		<div class="page-content">
			
			{{>fixtures/theme-panel}}
		
			
			<div class="row">
				<div class="col-md-12">
					<h3 class="page-title">
					{{data.page.echarts}}
					</h3>
				</div>
			</div>
            


            <div class="tabs-wrap">
               <ul  class="nav nav-tabs">
                    <li class="active">
                        <a href="javascript:;" data-id="">曲线图</a>
                    </li>
                    <li class="">
                        <a href="javascript:;" data-id="">堆积图</a>
                    </li>
                    <li class="">
                        <a href="javascript:;" data-id="">饼图</a>
                    </li>
                    <li class="">
                        <a href="javascript:;" data-id="">柱状图</a>
                    </li>
                    <li class="">
                        <a href="javascript:;" data-id="">地图</a>
                    </li>
                </ul>
            </div>

			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				<div class="col-md-12">
					
					<div class="portlet box default">
						<div class="portlet-title">
							<div class="caption">
								曲线图
							</div>
							<div class="tools">
								<a href="" class="collapse"></a>
							</div>
						</div>
						<div class="portlet-body">
							<div  class="chart-default " >
								<div class="chart-body" id="chart1"></div>
							</div>	
							<hr>
							<!--markdown-->
							<div class="markdown">
								<h3>HTML 代码</h3>
<pre class="prettyprint"><code class="language-html hljs "><span class="hljs-tag">&lt;<span class="hljs-title">div</span>  <span class="hljs-attribute">class</span>=<span class="hljs-value">"chart-default "</span> &gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"chart-body"</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"chart1"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></code></pre>								
								<h3>Javascript 代码</h3>

				<pre class="prettyprint"><code class="language-javascript hljs "><span class="hljs-keyword">var</span> echarts_option = <span class="hljs-built_in">require</span>(<span class="hljs-string">'../../plugins/echarts/js/echarts-option'</span>);

<span class="hljs-keyword">var</span> oChart1 = app.plugin.echarts(<span class="hljs-string">"chart1"</span>);
<span class="hljs-keyword">var</span> option1 = echarts_option.line({
    column: [<span class="hljs-string">'2014-07-05'</span>, <span class="hljs-string">'2014-07-06'</span>, <span class="hljs-string">'2014-07-07'</span>, <span class="hljs-string">'2014-07-08'</span>, <span class="hljs-string">'2014-07-09'</span>, <span class="hljs-string">'2014-07-10'</span>, <span class="hljs-string">'2014-07-11'</span>],
    data: [{
        name: <span class="hljs-string">"搜索引擎"</span>,
        value: [<span class="hljs-number">120</span>, <span class="hljs-number">132</span>, <span class="hljs-number">101</span>, <span class="hljs-number">134</span>, <span class="hljs-number">90</span>, <span class="hljs-number">230</span>, <span class="hljs-number">210</span>]
    }, {
        name: <span class="hljs-string">"外部链接"</span>,
        value: [<span class="hljs-number">220</span>, <span class="hljs-number">182</span>, <span class="hljs-number">191</span>, <span class="hljs-number">234</span>, <span class="hljs-number">290</span>, <span class="hljs-number">330</span>, <span class="hljs-number">310</span>],
    }, {
        name: <span class="hljs-string">"直接访问"</span>,
        value: [<span class="hljs-number">150</span>, <span class="hljs-number">232</span>, <span class="hljs-number">201</span>, <span class="hljs-number">154</span>, <span class="hljs-number">190</span>, <span class="hljs-number">330</span>, <span class="hljs-number">410</span>]
    }, {
        name: <span class="hljs-string">"站内链接"</span>,
        value: [<span class="hljs-number">320</span>, <span class="hljs-number">332</span>, <span class="hljs-number">301</span>, <span class="hljs-number">334</span>, <span class="hljs-number">390</span>, <span class="hljs-number">330</span>, <span class="hljs-number">320</span>]
    }]
});
oChart1.load(option1);</code></pre>
							</div>
						<!--end markdown-->
						</div>
						

					</div>

					
				</div>
				
				<div class="col-md-12">
					<div class="portlet box default">
						<div class="portlet-title">
							<div class="caption">
								堆积图
							</div>
							<div class="tools">
								<a href="" class="collapse"></a>
							</div>
						</div>
						<div class="portlet-body">
							<div  class="chart-default " >
								<div class="chart-body" id="chart2"></div>
								<!--markdown-->
							<div class="markdown">
								<h3>HTML 代码</h3>
<pre class="prettyprint"><code class="language-html hljs "><span class="hljs-tag">&lt;<span class="hljs-title">div</span>  <span class="hljs-attribute">class</span>=<span class="hljs-value">"chart-default "</span> &gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"chart-body"</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"chart2"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></code></pre>								
								<h3>Javascript 代码</h3>
				<pre class="prettyprint"><code class="language-javascript hljs "><span class="hljs-keyword">var</span> echarts_option = <span class="hljs-built_in">require</span>(<span class="hljs-string">'../../plugins/echarts/js/echarts-option'</span>);

<span class="hljs-keyword">var</span> oChart2 = app.plugin.echarts(<span class="hljs-string">"chart2"</span>);
<span class="hljs-keyword">var</span> option2 = echarts_option.line({
    column: [<span class="hljs-string">'2014-07-05'</span>, <span class="hljs-string">'2014-07-06'</span>, <span class="hljs-string">'2014-07-07'</span>, <span class="hljs-string">'2014-07-08'</span>, <span class="hljs-string">'2014-07-09'</span>, <span class="hljs-string">'2014-07-10'</span>, <span class="hljs-string">'2014-07-11'</span>],
    data: [{
        name: <span class="hljs-string">"搜索引擎"</span>,
        value: [<span class="hljs-number">120</span>, <span class="hljs-number">132</span>, <span class="hljs-number">101</span>, <span class="hljs-number">134</span>, <span class="hljs-number">90</span>, <span class="hljs-number">230</span>, <span class="hljs-number">210</span>]
    }, {
        name: <span class="hljs-string">"外部链接"</span>,
        value: [<span class="hljs-number">220</span>, <span class="hljs-number">182</span>, <span class="hljs-number">191</span>, <span class="hljs-number">234</span>, <span class="hljs-number">290</span>, <span class="hljs-number">330</span>, <span class="hljs-number">310</span>],
    }, {
        name: <span class="hljs-string">"直接访问"</span>,
        value: [<span class="hljs-number">150</span>, <span class="hljs-number">232</span>, <span class="hljs-number">201</span>, <span class="hljs-number">154</span>, <span class="hljs-number">190</span>, <span class="hljs-number">330</span>, <span class="hljs-number">410</span>]
    }, {
        name: <span class="hljs-string">"站内链接"</span>,
        value: [<span class="hljs-number">320</span>, <span class="hljs-number">332</span>, <span class="hljs-number">301</span>, <span class="hljs-number">334</span>, <span class="hljs-number">390</span>, <span class="hljs-number">330</span>, <span class="hljs-number">320</span>]
    }],
    config: {
        stack: <span class="hljs-string">"pv"</span>,
        showAreaStyle: <span class="hljs-literal">true</span>
    }
});
oChart2.load(option2);</code></pre>
							</div>
						<!--end markdown-->
							</div>	
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="portlet box default">
						<div class="portlet-title">
							<div class="caption">
								饼图
							</div>
							<div class="tools">
								<a href="" class="collapse"></a>
							</div>
						</div>
						<div class="portlet-body">
							<div  class="chart-default " >
								<div class="chart-body" id="chart3"></div>
								<!--markdown-->
							<div class="markdown">
								<h3>HTML 代码</h3>
<pre class="prettyprint"><code class="language-html hljs "><span class="hljs-tag">&lt;<span class="hljs-title">div</span>  <span class="hljs-attribute">class</span>=<span class="hljs-value">"chart-default "</span> &gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"chart-body"</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"chart3"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></code></pre>								
								<h3>Javascript 代码</h3>
		<pre class="prettyprint"><code class="language-js hljs "><span class="hljs-keyword">var</span> echarts_option = <span class="hljs-built_in">require</span>(<span class="hljs-string">'../../plugins/echarts/js/echarts-option'</span>);

<span class="hljs-keyword">var</span> oChart3 = app.plugin.echarts(<span class="hljs-string">"chart3"</span>);
<span class="hljs-keyword">var</span> option3 = echarts_option.pie({
    data: [{
        value: <span class="hljs-number">735</span>,
        name: <span class="hljs-string">'百度'</span>
    }, {
        value: <span class="hljs-number">310</span>,
        name: <span class="hljs-string">'谷歌'</span>
    }, {
        value: <span class="hljs-number">234</span>,
        name: <span class="hljs-string">'360搜索'</span>
    }, {
        value: <span class="hljs-number">135</span>,
        name: <span class="hljs-string">'搜狗'</span>
    }, {
        value: <span class="hljs-number">548</span>,
        name: <span class="hljs-string">'必应'</span>
    }, {
        value: <span class="hljs-number">148</span>,
        name: <span class="hljs-string">'雅虎'</span>
    }, {
        value: <span class="hljs-number">114</span>,
        name: <span class="hljs-string">'网易有道'</span>
    }],
});
oChart3.load(option3);</code></pre>
							</div>
						<!--end markdown-->
							</div>	
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="portlet box default">
						<div class="portlet-title">
							<div class="caption">
								柱状图
							</div>
							<div class="tools">
								<a href="" class="collapse"></a>
							</div>
						</div>
						<div class="portlet-body">
							<div  class="chart-default " >
								<div class="chart-body" id="chart4"></div>
								<!--markdown-->
							<div class="markdown">
								<h3>HTML 代码</h3>
<pre class="prettyprint"><code class="language-html hljs "><span class="hljs-tag">&lt;<span class="hljs-title">div</span>  <span class="hljs-attribute">class</span>=<span class="hljs-value">"chart-default "</span> &gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"chart-body"</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"chart4"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></code></pre>								
								<h3>Javascript 代码</h3>
		<pre class="prettyprint"><code class="language-js hljs "><span class="hljs-keyword">var</span> echarts_option = <span class="hljs-built_in">require</span>(<span class="hljs-string">'../../plugins/echarts/js/echarts-option'</span>);

<span class="hljs-keyword">var</span> oChart4 = app.plugin.echarts(<span class="hljs-string">"chart4"</span>);
<span class="hljs-keyword">var</span> option4 = echarts_option.bar({
    data: [{
        value: <span class="hljs-number">735</span>,
        name: <span class="hljs-string">'百度'</span>
    }, {
        value: <span class="hljs-number">310</span>,
        name: <span class="hljs-string">'谷歌'</span>
    }, {
        value: <span class="hljs-number">234</span>,
        name: <span class="hljs-string">'360搜索'</span>
    }, {
        value: <span class="hljs-number">135</span>,
        name: <span class="hljs-string">'搜狗'</span>
    }, {
        value: <span class="hljs-number">548</span>,
        name: <span class="hljs-string">'必应'</span>
    }, {
        value: <span class="hljs-number">148</span>,
        name: <span class="hljs-string">'雅虎'</span>
    }, {
        value: <span class="hljs-number">114</span>,
        name: <span class="hljs-string">'网易有道'</span>
    }],
});
oChart4.load(option4);</code></pre>
							</div>
						<!--end markdown-->

							</div>	
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="portlet box default">
						<div class="portlet-title">
							<div class="caption">
								地图
							</div>
							<div class="tools">
								<a href="" class="collapse"></a>
							</div>
						</div>
						<div class="portlet-body">
							<div  class="chart-default  chart-map" >
								<div class="chart-body" id="chart5"></div>
								<!--markdown-->
							<div class="markdown">
								<h3>HTML 代码</h3>
<pre class="prettyprint"><code class="language-html hljs "><span class="hljs-tag">&lt;<span class="hljs-title">div</span>  <span class="hljs-attribute">class</span>=<span class="hljs-value">"chart-default chart-map"</span> &gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"chart-body"</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"chart5"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></code></pre>								
								<h3>Javascript 代码</h3>
		<pre class="prettyprint"><code class="language-js hljs "><span class="hljs-keyword">var</span> echarts_option = <span class="hljs-built_in">require</span>(<span class="hljs-string">'../../plugins/echarts/js/echarts-option'</span>);

<span class="hljs-keyword">var</span> oChart5 = app.plugin.echarts(<span class="hljs-string">"chart5"</span>);
<span class="hljs-keyword">var</span> option5 = echarts_option.map({
    data: [{
        value: <span class="hljs-number">735</span>,
        name: <span class="hljs-string">'上海'</span>
    }, {
        value: <span class="hljs-number">310</span>,
        name: <span class="hljs-string">'北京'</span>
    }, {
        value: <span class="hljs-number">234</span>,
        name: <span class="hljs-string">'四川'</span>
    }, {
        value: <span class="hljs-number">135</span>,
        name: <span class="hljs-string">'天津'</span>
    }, {
        value: <span class="hljs-number">548</span>,
        name: <span class="hljs-string">'云南'</span>
    }, {
        value: <span class="hljs-number">148</span>,
        name: <span class="hljs-string">'河南'</span>
    }, {
        value: <span class="hljs-number">114</span>,
        name: <span class="hljs-string">'香港'</span>
    }],
    config: {
        name: <span class="hljs-string">"浏览量（PV）地域分布图"</span>
    }
});
oChart5.load(option5);</code></pre>
							</div>
						<!--end markdown-->
							</div>	
						</div>
					</div>
				</div>

			</div>
			<!-- END PAGE CONTENT-->
		</div>
	</div>
	<!-- END CONTENT -->
</div>
<!-- END CONTAINER -->

{{>fixtures/footer}}

<script type="text/javascript">

	pagurian.call("modules/plugin/app", function(app) {
		app.page.echarts();
	});

</script>


</body>
</html>