{{#>layouts/base title=data.page.sizer appId="sizer"}}

    {{#*inline "pageContent"}}
        {{>fixtures/theme-panel}}
        <div class="row">
            <div class="col-md-12">
                <h3 class="page-title">
                    {{data.page.sizer}}
                </h3>
                {{> fixtures/tab-sizer multiple=true}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet box default sizer-demo-wrap-mul">
                    <button id="sizer-multiple" type="button" class="btn btn-default sizer-btn">版本</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="markdown">
                    <h3>HTML代码</h3>
    <pre><code class="html">&lt;button id="sizer-multiple" type="button" class="btn btn-default sizer-btn w120"&gt;
    版本
&lt;/button&gt;</code></pre>
                    <h3>javascript代码</h3>
    <pre><code class="javascript">require('../../widgets/sizer/module');

var selectDatas = [{
    "id": 4
}, {
    "id": 5
}];

var options = {
    isMultiple: true,//是否为多选 默认为false
    isExpand: true,//是否默认展开 默认为false
    dataSource: model.getSizerData,//数据源
    dataParams: {
        test: 1
    },
    style: "d-ib", //筛选器自定义class
    callbackExpand: function () {//面板展开时的回调
        console.log("Expand");
    },
    callbackClose: function (datas, allDatas) {//面板关闭时的回掉
        console.log("Close");
        console.log(datas);
        console.log(allDatas);
    },
    callbackOption: function (data) {//点击选项的回调
        console.log(data);
    },
    callbackSearch: function (datas) {//搜索框录入回调
        console.log(datas);
    },
    callbackClean: function () {//点击清除/清楚选择的回调
        console.log("Clean");
    },
    //仅isMultiple为true时有效
    callbackSelectAll: function (datas) {//全选时的回调
        console.log("SelectAll");
    },
    callbackSubmit: function (selectDatas, allDatas) {//确认按钮回调
        console.log("Submit");
        console.log(selectDatas);
        console.log(allDatas);
    },
    callbackCancel: function () {//取消按钮回调
        console.log("Cancel");
    },
    callbackLoadData:function(selectData, allData){//数据加载完成回调
        console.log('数据加载完成');
        console.log(selectData);
        console.log(allData);
    }
};
var sizer = $p.sizer($("#sizer-multiple"), options);
//使用on方法绑定事件
sizer.on("option", function (data, status) {
    console.log(data, status);
});
//默认选中数据
sizer.chooseData(selectDatas);</code></pre>
                    <h3>JSON 数据</h3>
                    <a href="/test/api/sizerdata.json" target="_blank">sizerdata.json</a>
                </div>
            </div>
        </div>
    {{/inline}}

    {{#*inline "appScript"}}
        <script type="text/javascript">
            pagurian.call("modules/sizer/app", function (app) {
                app.page.multiple();
            });
        </script>
    {{/inline}}

{{/layouts/base}}
