{{>fixtures/doctype}}
<head>
	<title>{{data.page.tooltip}}</title>
	{{>fixtures/head}}
</head>
<body>

{{>fixtures/header}}

<!-- BEGIN CONTAINER -->
<div class="page-container">
	
	{{>fixtures/sidebar}}

	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		
		<div class="page-content">
			
			{{>fixtures/theme-panel}}
		
			<div class="row">
				<div class="col-md-12">
					<h3 class="page-title">
					{{data.page.tooltip}}
					</h3>
				</div>
			</div>

			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				
				<div class="col-md-12">
					<div class="portlet box default">
						<div class="portlet-title">
							<div class="caption">
								Buttons & Links
							</div>
							
						</div>
						<div class="portlet-body">
							
							<p>
								<button class="btn btn-default tooltips" data-placement="top" data-original-title="Tooltip in top">Top</button>
								<button class="btn btn-default tooltips" data-placement="left" data-original-title="Tooltip in left">Left</button>
								<button class="btn btn-default tooltips" data-placement="right" data-original-title="Tooltip in right">Right</button>
								<button class="btn btn-default tooltips" data-placement="bottom" data-original-title="Tooltip in bottom">Bottom</button>
							</p>

							<p>
									 <a href="#" class="tooltips" data-original-title="Very long toolips Very long toolips Very long toolips Very long toolips">tooltips</a>
								</p>
								<p>
									 Tight pants next level keffiyeh <a href="#" class="tooltips" data-container="body" data-original-title="Default tooltip">you probably</a> haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. Farm-to-table seitan, mcsweeney's fixie sustainable quinoa 8-bit american apparel <a href="#" class="tooltips" data-container="body" data-original-title="Another tooltip">have a</a> terry richardson vinyl chambray. <a href="#" class="tooltips" title="12" data-container="body" data-original-title="The last tip!">twitter handle</a> freegan cred raw denim single-origin coffee viral.
								</p>


						</div>
					</div>
					
				</div>
			</div>

<div class="row">
    <!--markdown-->
    <div class="markdown">

    <h3>HTML</h3>
<pre class="prettyprint"><code class="language-html hljs "><span class="hljs-comment">&lt;!--Button--&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"btn btn-default tooltips "</span> <span class="hljs-attribute">data-placement</span>=<span class="hljs-value">"top"</span> <span class="hljs-attribute">data-original-title</span>=<span class="hljs-value">"Tooltip in top"</span>&gt;</span>Top<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"btn btn-default tooltips "</span> <span class="hljs-attribute">data-placement</span>=<span class="hljs-value">"left"</span> <span class="hljs-attribute">data-original-title</span>=<span class="hljs-value">"Tooltip in left"</span>&gt;</span>Left<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"btn btn-default tooltips "</span> <span class="hljs-attribute">data-placement</span>=<span class="hljs-value">"right"</span> <span class="hljs-attribute">data-original-title</span>=<span class="hljs-value">"Tooltip in right"</span>&gt;</span>Right<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"btn btn-default tooltips "</span> <span class="hljs-attribute">data-placement</span>=<span class="hljs-value">"bottom"</span> <span class="hljs-attribute">data-original-title</span>=<span class="hljs-value">"Tooltip in bottom"</span>&gt;</span>Bottom<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span>

<span class="hljs-comment">&lt;!--A--&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">data-original-title</span>=<span class="hljs-value">"Very long toolips"</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"tooltips"</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#"</span>&gt;</span>tooltips<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>                       </code></pre>
</div>
<!--end markdown-->
</div>


			<!-- END PAGE CONTENT-->
			<div class="clear"></div>
		</div>


	</div>
	<!-- END CONTENT -->
</div>
<!-- END CONTAINER -->

{{>fixtures/footer}}
<script type="text/javascript">

	pagurian.call("modules/standard/app", function(app) {
		app.page.message();
	});
</script>

</body>
</html>