{{#>layouts/base title=data.page.catalogue}}

{{#*inline "pageContent"}}
    <div class="row">
        <div class="col-md-12">
            <h3 class="page-title">
                {{data.page.catalogue}}
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!--markdown-->
            <div class="markdown">
<pre><code>Pagurian
├── [.] .build
├── dist/                   //发布目录
│   ├── lib/
│   ├── modules/
│   ├── plugins/
│   ├── resources/
│   └── templates/
├── docs/                   //开发文档
│   ├── api-datatable.md
│   └── api-*.md
├── [.] node_modules/           //Grunt依赖的NodeJs 模块
├── src/                    //开发目录
│   ├── lib/                //框架依赖的基础库
│   ├── modules/            //业务模块
│   ├── plugins/            //插件
|   ├── widgets/            //组件
│   ├── resources/          //css,images,fonts
│   └── templates/          //handlebars 模版文件
├── test/                   //测试
├── Gruntfile.js
├── package.json
└── pagurian.js</code></pre>
            </div>
            <!--end markdown-->
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>View Less</h3>
            <a href="/src/resources/css/source/themes/default.less" target="_blank">src/resources/css/source/themes/default.less</a>
            <br/><br/>
        </div>
    </div>
{{/inline}}

{{#*inline "appScript"}}
    <script type="text/javascript">
        pagurian.call("modules/styleguide/app", function(app) {
            app.page.javascript();
        });
    </script>
{{/inline}}

{{/layouts/base}}
