{{>fixtures/doctype}}
<head>
    <title> {{data.page.summary}}</title>
    {{>fixtures/head}}
</head>
<body>

    {{>fixtures/header}}


    <!-- BEGIN CONTAINER -->
    <div class="page-container datalistview-container">


        {{>fixtures/sidebar}}

        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">

            <div class="page-content">

                {{>fixtures/theme-panel}}
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="page-title">
                            {{data.page.summary}}
                        </h3>
                    </div>
                </div>

                <div class="tabs-wrap">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="sizer-single.html">基础</a>
                        </li>
                    </ul>
                </div>

                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="summary-wrap">
                            <div class="summary-div-ul li5">
                                <div class="summary-div-li">
                                    <ul>
                                        <li class="summary-span-title">展示次数展示(IMP)</li>
                                        <li class="summary-span-value">3121233</li>
                                        <li class="summary-span-rate reduce">-0%</li>
                                    </ul>
                                </div>
                                <div class="summary-div-li">
                                    <ul>
                                        <li class="summary-span-title">展示次数展示(IMP)</li>
                                        <li class="summary-span-value">3121233</li>
                                        <li class="summary-span-rate add">+0%</li>
                                    </ul>
                                </div>
                                <div class="summary-div-li">
                                    <ul>
                                        <li class="summary-span-title">展示次数展示(IMP)</li>
                                        <li class="summary-span-value">3121233</li>
                                        <li class="summary-span-rate reduce">-0%</li>
                                    </ul>
                                </div>
                                <div class="summary-div-li">
                                    <ul>
                                        <li class="summary-span-title">展示次数展示(IMP)</li>
                                        <li class="summary-span-value">3121233</li>
                                        <li class="summary-span-rate add">+0%</li>
                                    </ul>
                                </div>
                                <div class="summary-div-li">
                                    <ul>
                                        <li class="summary-span-title">展示次数展示(IMP)</li>
                                        <li class="summary-span-value">3121233</li>
                                        <li class="summary-span-rate reduce">-0%</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="summary-setting-wrap">
                                <a class="summary-setting-icon" href="javascript:;"><i class="fa fa-cog "></i></a>
                                <div class="summary-setting-panel">
                                    <div class="summary-setting-panel-arrows"></div>
                                    <div class="summary-setting-panel-body">
                                        <div class="summary-setting-panel-text">
                                            <span>同时可选选择5个指标</span>
                                            <a class="summary-reset" href="javascript:;">恢复系统默认</a>
                                        </div>
                                        <ul class="summary-setting-ul">
                                            <li class="summary-setting-li mr"><input type="checkbox"/>展示次数（IMP）</li>
                                            <li class="summary-setting-li "><input type="checkbox"/>展示次数（IMP）</li>
                                            <li class="summary-setting-li mr"><input type="checkbox"/>展示次数（IMP）</li>
                                            <li class="summary-setting-li "><input type="checkbox"/>展示次数（IMP）</li>
                                            <li class="summary-setting-li mr"><input type="checkbox"/>展示次数（IMP）</li>
                                            <li class="summary-setting-li "><input type="checkbox"/>展示次数（IMP）</li>
                                            <li class="summary-setting-li mr"><input type="checkbox"/>展示次数（IMP）</li>
                                            <li class="summary-setting-li "><input type="checkbox"/>展示次数（IMP）</li>
                                            <li class="summary-setting-li mr"><input type="checkbox"/>展示次数（IMP）</li>
                                            <li class="summary-setting-li "><input type="checkbox"/>展示次数（IMP）</li>
                                        </ul>
                                    </div>
                                    <div class="summary-setting-panel-footer">
                                        <button class="btn btn-primary" type="button">确定</button>
                                        <button class="btn btn-default" type="button">取消</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->

    {{>fixtures/footer}}

    <script type="text/javascript">
        pagurian.call("modules/summary/app", function (app) {
            app.page.summary();
        });
    </script>

    {{>fixtures/tracker}}
</body>
</html>
