{{>fixtures/doctype}}
<head>
    <title> {{data.page.summary}}</title>
    {{>fixtures/head}}
</head>
<body>

    {{>fixtures/header}}


    <!-- BEGIN CONTAINER -->
    <div class="page-container datalistview-container">


        {{>fixtures/sidebar}}

        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">

            <div class="page-content">

                {{>fixtures/theme-panel}}
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="page-title">
                            {{data.page.summary}}
                        </h3>
                    </div>
                </div>

                <div class="tabs-wrap">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="sizer-single.html">基础</a>
                        </li>
                    </ul>
                </div>

                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="summary-wrap">
                            <ul class="summary-ul li5">
                                <li class="summary-li">
                                    <span class="summary-span-title">展示次数展示次数展示次数展示次数(IMP)</span>
                                    <span class="summary-span-value">312123213123</span>
                                    <span class="summary-span-rate reduce"><i>-</i>0%</span>
                                </li>
                                <li class="summary-li">
                                    <span class="summary-span-title">展示次数(IMP)</span>
                                    <span class="summary-span-value">323123213123</span>
                                    <span class="summary-span-rate add"><i>+</i>0%</span>
                                </li>
                                <li class="summary-li">
                                    <span class="summary-span-title">展示次数(IMP)</span>
                                    <span class="summary-span-value">3123213123</span>
                                    <span class="summary-span-rate reduce"><i>-</i>0%</span>
                                </li>
                                <li class="summary-li">
                                    <span class="summary-span-title">展示次数(IMP)</span>
                                    <span class="summary-span-value">3123213123</span>
                                    <span class="summary-span-rate add"><i>+</i>0%</span>
                                </li>
                                <li class="summary-li">
                                    <span class="summary-span-title">展示次数(IMP)</span>
                                    <span class="summary-span-value">3123213123</span>
                                    <span class="summary-span-rate add"><i>+</i>0%</span>
                                </li>
                            </ul>
                            <div class="summary-sizer-wrap">
                                <a class="summary-sizer-setting" href="javascript:;"><i class="fa fa-cog "></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->

    {{>fixtures/footer}}

    <script type="text/javascript">
        pagurian.call("modules/summary/app", function (app) {
            app.page.summary();
        });
    </script>

    {{>fixtures/tracker}}
</body>
</html>
