{{>fixtures/doctype}}
<head>
	<title>{{data.page.color}}</title>
	{{>fixtures/head}}
</head>
<body>
{{>fixtures/header}}

<!-- BEGIN CONTAINER -->
<div class="page-container">
	

	{{>fixtures/sidebar}}
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		
		<div class="page-content">
			
			{{>fixtures/theme-panel}}
			
			
			<div class="row">
				<div class="col-md-12">
					<h3 class="page-title">
					{{data.page.color}}
					</h3>
				</div>
			</div>
			
			<div id="palette"></div>
			<div style="clear: both;"></div>

			<div id="panel_color_wrap"></div>
			<div class="tool-action " style="margin-bottom:50px">
				<div class="row ">
					<div class="col-md-3">
						
						<div class="input-group color colorpicker-default" data-color="#3865a8" data-color-format="rgba">
							<input type="text" class="form-control" value="#3865a8"  id="txt_color">
							<span class="input-group-btn">
								<button class="btn default" type="button"><i style="background-color: #3865a8;"></i>&nbsp;</button>
							</span>
						</div>
						
					</div>
					<div class="col-md-3">
						<button type="button" class="btn btn-primary" id="btn_add_color" >创建色板</button>
					</div>
				</div>


			</div>

			<div class="row">
				<div class="col-md-12">
					<h3 class="page-title">
					AdTest 
					</h3>
					
					<a target="_blank" href="http://a.irs01.com/hat?_t=r&_htsinfo=QyY0JjY1NSYxMzc1Jjk2NTImdmg=&l=aHR0cDovL3d3dy5jZXRhcGhpbC5jb20uY24vcHJvZHVjdC9wcm9kdWN0LTEvP2htc3I9cGFndXJpYW4maG1tZD0lRTYlOTYlODclRTUlQUQlOTclRTUlQjklQkYlRTUlOTElOEEmaG1wbD0lRTclQUIlOTklRTUlQTQlOTYlRTUlQjklQkYlRTUlOTElOEEmaG1rdz0lRTUlQjklQkYlRTUlOTElOEExJmhtY2k9JUU1JUI5JUJGJUU1JTkxJThBMSZfaHRzaW5mbz1UQ1kwSmpZMU5TWXhNemMxSmprMk5USW1iV2c9">
AD A
</a>
<br>
					<a target="_blank" href="http://a.irs01.com/hat?_t=r&_htsinfo=QyY0JjY1NSYxMzc1Jjk2NTMmimw=&l=aHR0cDovL3d3dy5jZXRhcGhpbC5jb20uY24vcHJvZHVjdC9wcm9kdWN0LTIvP2htc3I9cGFndXJpYW4maG1tZD0lRTYlOTYlODclRTUlQUQlOTclRTUlQjklQkYlRTUlOTElOEEmaG1wbD0lRTclQUIlOTklRTUlQTQlOTYlRTUlQjklQkYlRTUlOTElOEEmaG1rdz0lRTUlQjklQkYlRTUlOTElOEEyJmhtY2k9JUU1JUI5JUJGJUU1JTkxJThBMiZfaHRzaW5mbz1UQ1kwSmpZMU5TWXhNemMxSmprMk5UTW1rV3c9">
AD B
</a>
<br>
					<a target="_blank" href="http://a.irs01.com/hat?_t=r&_htsinfo=QyY0JjY1NSYxMzc1Jjk2NTQm_nY=&l=aHR0cDovL3d3dy5jZXRhcGhpbC5jb20uY24vcHJvZHVjdC9wcm9kdWN0LTIvP2htc3I9cGFndXJpYW4maG1tZD0lRTUlOUIlQkUlRTclODklODclRTUlQjklQkYlRTUlOTElOEEmaG1wbD0lRTclQUIlOTklRTUlQTQlOTYlRTUlQjklQkYlRTUlOTElOEEmaG1rdz0lRTUlQjklQkYlRTUlOTElOEEzJmhtY2k9JUU1JUI5JUJGJUU1JTkxJThBMyZfaHRzaW5mbz1UQ1kwSmpZMU5TWXhNemMxSmprMk5UUW01WFk9">AD C</a>
<br>

<div style="display:none">




			<img src="http://a.irs01.com/hat?_t=i&_htsinfo=SSY0JjY1NSYxMzc1Jjk2NTImZGg="/>
		<img src="http://a.irs01.com/hat?_t=i&_htsinfo=SSY0JjY1NSYxMzc1Jjk2NTMmmGw="/>
		<img src="http://a.irs01.com/hat?_t=i&_htsinfo=SSY0JjY1NSYxMzc1Jjk2NTQm7HY="/>
</div>
				</div>
			</div>
			

			

		</div>
	</div>
	<!-- END CONTENT -->
</div>
<!-- END CONTAINER -->

{{>fixtures/footer}}
<script type="text/javascript">
	pagurian.call("modules/theme/app", function(app) {
		app.page.color();
	});
</script>

</body>
</html>
