{{>fixtures/doctype}}
<head>
	<title>{{data.page.color}}</title>
	{{>fixtures/head}}
</head>
<body>
{{>fixtures/header}}

<!-- BEGIN CONTAINER -->
<div class="page-container">
	

	{{>fixtures/sidebar}}
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		
		<div class="page-content">
			
			{{>fixtures/theme-panel}}
			
			
			<div class="row">
				<div class="col-md-12">
					<h3 class="page-title">
					{{data.page.color}}
					</h3>
				</div>
			</div>
			
			<div id="panel_color_wrap"></div>
			<div class="tool-action " style="margin-bottom:50px">
				<div class="row ">
					<div class="col-md-3">
						
						<div class="input-group color colorpicker-default" data-color="#3865a8" data-color-format="rgba">
							<input type="text" class="form-control" value="#3865a8"  id="txt_color">
							<span class="input-group-btn">
								<button class="btn default" type="button"><i style="background-color: #3865a8;"></i>&nbsp;</button>
							</span>
						</div>
						
					</div>
					<div class="col-md-3">
						<button type="button" class="btn btn-primary" id="btn_add_color" >创建色板</button>
					</div>
				</div>


			</div>
			
			<div class="row">
				<div class="col-md-12">
					<h3>View Less</h3>
					<a href="/src/resources/css/source/themes/default.less" target="_blank">src/resources/css/source/themes/default.less</a>
					<br/><br/>

					<h3 id="ads_test">Hypers AdTest</h3>
					<a target="_blank" href="http://www.cetaphilchina.com.cn/product/product-1/?hmsr=pagurian&hmmd=%E6%96%87%E5%AD%97%E5%B9%BF%E5%91%8A&hmpl=%E7%AB%99%E5%A4%96%E5%B9%BF%E5%91%8A&hmkw=&hmci=%E5%B9%BF%E5%91%8A1&_htsinfo=TCYxOCYxMDI1JjEyMTkmODk1NCav9A==">Test A</a>
					<br/><br/>
					<a target="_blank" href="http://www.cetaphilchina.com.cn/product/product-2/?hmsr=pagurian&hmmd=%E6%96%87%E5%AD%97%E5%B9%BF%E5%91%8A&hmpl=%E7%AB%99%E5%A4%96%E5%B9%BF%E5%91%8A&hmkw=&hmci=%E5%B9%BF%E5%91%8A2&_htsinfo=TCYxOCYxMDI1JjEyMTkmODk1NSZT8A==">Test B</a>
					<br/><br/>
					<a target="_blank" href="http://www.cetaphilchina.com.cn/product/product-2/?hmsr=pagurian&hmmd=%E5%9B%BE%E7%89%87&hmpl=%E7%AB%99%E5%A4%96%E5%B9%BF%E5%91%8A&hmkw=&hmci=%E5%B9%BF%E5%91%8A3&_htsinfo=TCYxOCYxMDI1JjEyMTkmODk1NiYX_w==">Test C</a>
					

				</div>
			</div>

		</div>
	</div>
	<!-- END CONTENT -->
</div>
<!-- END CONTAINER -->

{{>fixtures/footer}}
<script type="text/javascript">
	pagurian.call("modules/theme/app", function(app) {
		app.page.color();
	});
</script>

</body>
</html>