<h3>基于版本</h3>
<p>[v2.2.0] <a href="https://github.com/ecomfe/echarts/tree/2.2.0" target="_blank">https://github.com/ecomfe/echarts/tree/2.2.0</a></p>

<h3>更多实例</h3>
<a href="http://echarts.baidu.com/doc/example.html" target="_blank">http://echarts.baidu.com/doc/example.html</a>
