<div class="footer fixed">
    <span class="copyright">© 2016 Hypers, Inc.</span>


    <div class="link">
        <a href="https://github.com/hypers/pagurian/issues" target="_blank">问题反馈</a>
    </div>
</div>
<script src="../../pagurian.js" ></script>

<!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
