<div class="footer fixed">
    <span class="copyright">COPYRIGHT HYPERS 2014</span>

    
    <div class="link">
        <a href="https://github.com/hypers/pagurian/issues" target="_blank">问题反馈</a>
    </div>
</div>
<script src="../../pagurian.js" ></script>

<!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<div style="display:none">
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254744731'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/stat.php%3Fid%3D1254744731' type='text/javascript'%3E%3C/script%3E"));</script>
</div>