<div class="header navbar navbar-inverse navbar-fixed-top">

    <div class="header-inner">

        <!-- BEGIN LOGO -->
        <a class="navbar-brand logo" href="/index.html">
            <img src="../resources/css/img/logo.png" />
        </a>
        <!-- END LOGO -->
        <ul class="nav navbar-nav">

            <li>
                <a href="/index.html">首页</a>
            </li>
            <li class="active">
                <a href="/demo/dist/templates/theme-color.html">实例</a>
            </li>
            <li>
                <a href="/design/" target="_blank">设计</a>
            </li>
            <li>
                <a href="https://github.com/hypers/pagurian" target="_blank">Github</a>
            </li>
        </ul>

        <div class="nav_right">

            <ul class="nav userbar pull-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        {{data.user.name}}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-user"></i>  基本信息</a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i>  我的消息</a></li>
                        <li><a href="#"><i class="fa fa-power-off"></i>  退出系统</a></li>
                    </ul>
                </li>
            </ul>

        </div>

    </div>

</div>
<div class="clearfix"></div>
