<div class="tabs-wrap">
    <ul class="nav nav-tabs">
        <li {{#if single}}class="active"{{/if}}>
            <a href="sizer-single.html">单选 </a>
        </li>
        <li {{#if multiple}}class="active"{{/if}}>
            <a href="sizer-multiple.html">多选 </a>
        </li>
        <li {{#if multipleHasPanel}}class="active"{{/if}}>
            <a href="sizer-hasPanel.html">多选(有结果展示面板) </a>
        </li>
        <li {{#if options}}class="active"{{/if}}>
            <a href="sizer-options.html">参数说明</a>
        </li>
    </ul>
</div>
