<div class="tabs-wrap">
    <ul  class="nav nav-tabs">
        <li {{#if form}}class="active"{{/if}}>
            <a href="com-form.html" >样式</a>
        </li>
        <li {{#if form-validation}}class="active"{{/if}}>
            <a href="com-form-validation.html" >验证</a>
        </li>
        <li {{#if form-val}}class="active"{{/if}}>
            <a href="com-form-val.html" >赋值</a>
        </li>
        <li {{#if form-submit}}class="active"{{/if}}>
            <a href="com-form-submit.html">提交</a>
        </li>
    </ul>
</div>
