<div class="tabs-wrap">
   <ul  class="nav nav-tabs">
        <li class="active">
            <a href="echarts-line.html" data-id="">折线图 </a>
        </li>
        <li class="">
            <a href="echarts-stack.html" data-id="">堆积面积图</a>
        </li>
        <li class="">
            <a href="echarts-pie.html" data-id="">饼图</a>
        </li>
        <li class="">
            <a href="echarts-bar.html" data-id="">柱状图</a>
        </li>
        <li class="">
            <a href="echarts-map.html" data-id="">地图</a>
        </li>
    </ul>
</div>