<div class="theme-panel hidden-xs hidden-sm">
    <div class="toggler" style="display: block;">
    </div>
    <div class="toggler-close" style="display: none;">
    </div>
    <div class="theme-options" style="display: none;">
        <div class="theme-option theme-colors clearfix">
            <span>
                模版颜色
            </span>
            <ul>
                <li data-style="green" class="color-green current color-default"></li>
                <li data-style="blue" class="color-blue"></li>
                <li data-style="purple" class="color-purple "></li>
                <li data-style="orange" class="color-orange"></li>
                <li data-style="red" class="color-red"></li>
            </ul>
        </div>
    </div>
</div>