<!--
<script>
    (function(i,d,t,o,u,h,c,p){i[t]=i[t]||[],i[t].push(h);i[h] = i[h]||function()
    {return (i[h].q=i[h].q||[]).push(arguments)};i[h].end?i[h]("track",h,c,p):(function(s,f)
    {i[h].end=1;s=d.createElement(o);s.src=u;f=d.getElementsByTagName(o)[0];
    f.parentNode.insertBefore(s,f);i[h]("track",h,c,p)})()})(window,document,
    "HyperAnalyticsObject","script","//t.hypers.com.cn/hwt.js?v=1.3","_ha",{
        UA:"477",
        API_URL:"//t.hypers.com.cn/cgi-bin",
        SWF_URL:"//t.hypers.com.cn/hwt.swf#",
        IFRAME_URL:"//t.hypers.com.cn/iframe.html"
     });
</script>
<div style="display:none">
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254744731'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/stat.php%3Fid%3D1254744731' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
-->
