@import "../common.less";

@import "../layout/header.less";
@import "../layout/container.less";
@import "../layout/footer.less";


@import "../ui/button.less";
@import "../ui/chart.less";
@import "../ui/checkbox.less";
@import "../ui/daterangepicker.less";
@import "../ui/dropdown.less";
@import "../ui/editable.less";
@import "../ui/form.less";
@import "../ui/modal.less";
@import "../ui/nav.less";
@import "../ui/popover.less";
@import "../ui/portlet.less";
@import "../ui/tab.less";
@import "../ui/table.less";
@import "../ui/toolbar.less";
@import "../ui/valid.less";


@import "../fixes/ie8.less";
@import "../fixes/responsive.less";
@import "../custom.less";

@logo: url(img/logo.png);
@expand-icon: url(img/expand-icon.png);

@sort_both:url(img/green/sort_both.png);
@sort_asc:url(img/green/sort_asc.png);
@sort_desc:url(img/green/sort_desc.png);
@sort_asc_disabled:url(img/green/sort_asc_disabled.png);
@sort_desc_disabled:url(img/green/sort_desc_disabled.png);


@H050:#fafdff;
@H100:#ade5ff;
@H200:#7ad5ff;
@H300:#61cdff;
@H400:#46c1fa;
@H500:#29a7e1;
@H600:#108dc7;
@H700:#0076ad;
@H800:#006594;
@H900:#00547a;
