
.login {
	position: absolute;
	width: 380px;
	height: 450px;
	left: 50%;
	top: 50%;
	margin-left: -190px;
	margin-top: -225px;
	background: none !important;
	.logo{
		background: @logo-green no-repeat center 0;
	}
	.input-icon input {
		border: none;
		height: 40px;
		line-height: 40px;
		padding: 0;
	}
	.input-icon i {
		margin: 13px 2px 4px 12px;
	}
	.logo {
		height: 44px;
		text-align: center;
	}
	.content {
		width: 100%;
		padding: 40px 40px 30px;
		position: relative;
		background: @B050;
		.input-icon {
			position: relative;
			border: 1px solid @B500 !important;
		}
		.input-icon a {
			text-decoration: none
		}
		.form-actions {
			margin: 20px 0;
			border-bottom: 0;
			padding: 0;
			.checkbox {
				padding-left: 0;
				margin-top: 0;
				margin-bottom: 0;
				font-size: 16px;
				display: inline-block;
				input {
					margin-left: 0;
				}
			}
		}
		.captcha {
			width: 170px
		}
		.captcha-wrap {
			width: 148px;
			height: 40px;
			background-color: @B100;
			text-align: center;
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			text-decoration: none;
			img {
				vertical-align: middle;
			}
		}
		.forget-pwd {
			font-size: 18px;
			line-height: 35px;
			text-decoration: underline;
			color: @B600;
			line-height: 25px;
			&:hover {
				color: @B600 !important;
			}
		}
	}
	span.help-block {
		background: none;
		min-height: 14px;
	}
	.has-error {
		margin-bottom: 12px;
		.help-block {
			color: @M001;
		}
		.input-icon > i {
			color: @B500;
		}
	}
	.input-cut {
		width: 4px;
		height: 100%;
		background-color: @H500;
		position: absolute;
		left: 0;
		top: 0
	}

}

.input-icon {
	&.input-search {
		width: 150px;
		input {
			height: 40px;
			font-size: 16px;
		}
		i {
			margin: 12px 2px 4px 12px
		}
	}
	i {
		color: @B500;
		margin: 10px 2px 4px 12px
	}
	input {
		padding-left: 36px !important
	}
}

#date_defaultrange {
	width: 340px;
	input {
		border-right: none;
		cursor: pointer;
	}
	input, button {
		&:hover,&:focus{
			border-color: @B500;
			background: none !important;
		}
	}
	&.disabled {
		background: @B050;
		input, button {
			border-color: @B200;
			color:@B600;
			background: none !important;
		}
	}
}
#btn_date_type{ position: relative; display: none;}
#data_panel .whisper{
	left: 90px;
    position: absolute;
    top: 240px;
}
#panel_color_wrap{ margin-left: -20px;
	.panel_color{
		padding: 0;
		margin:20px;
		list-style: none;
		width: 300px;
		float:left;
		li{
			padding: 10px;
			font-family: 'DejaVu Sans Mono';
		}
	}
}